$brand-primary: #e78200;
$brand-secondary: #00ade7;
$grey-0: #151515;
$grey-1: rgb(40, 40, 39);
$grey-2: #33332D;
$grey-3: hsla(0, 0%, 100%, 0.41);

@import "mixins";

body {
    color: #fff;
    background-color: $grey-0;
    @include respond-min-width(sm) {
        background-image: url(images/dutchgarrison/stars-left.jpg), url(images/dutchgarrison/stars-right.jpg);
    }
    background-position: top left, top right;
    background-repeat: repeat-y, repeat-y;
    background-attachment: fixed;
}

button,
a:link,
a:visited,
a {
    color: $brand-primary;
    &.btn-default,
    &.btn-primary {
        &,
        &:active:focus,
        &:focus,
        &:active,
        &:hover {
            border: 0;
            border-color: #d6d9e0;
            background-color: $brand-primary;
            color: #000 !important;
        }
        &:focus,
        &:active,
        &:hover {
            background-color: lighten($brand-primary, 10%);
        }
    }
}

h3 {
    border-color: $grey-1;
    &:after {
        display: none !important;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    blockquote {
        background-color: $grey-2;
        &:before,
        &:after {
            color: $grey-1;
        }
    }
}

.masthead {
    animation-name: none;
    background: url(images/dutchgarrison/strand02.jpg);
    background-size: 100%;
    background-position: 0 -421px;
    &:before {
        display: none;
    }
}

.separator {
    &:before {
        background-color: $grey-2;
    }
    i {
        display: none;
        background: $grey-2;
    }
}

.nav {
    > li {
        &.open a,
        > a {
            &:focus,
            &:hover {
                background-color: $grey-2;
            }
        }
    }
}

.arrow-up:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $grey-2;
}


.table {
    > thead {
        > tr {
            > th {
                background: $grey-1;
            }
        }
    }
    > tbody {
        > tr:focus,
        > tr:hover,
        > tr:nth-child(2n+1),
        > tr {
            td {
                color: #aaa;
                border-color: $grey-2;
                background: $grey-1;
            }
        }
    }
    .stats-col {
        background-color:  $grey-1 !important;
    }
}

.top-flat {
    background-color: $brand-primary;
}

.icon-wrapper {
    background: $grey-2;
}

.pagination {
    .active,
    > li {
        > a:focus,
        > a:hover,
        > a {
            border-width: 1px;
            color: #fff;
            background-color: $grey-1;
            border-color: $grey-2;
        }
    }
}

.panel {
    border-color: $grey-2;
    .panel-body {
        background: $grey-1;
    }
}

.panel-post {
    .panel-bottom {
        background-color: transparent;
    }
}

header {
    > .container {
        position: relative;
    }
}

.navbar {
    padding: 70px 0 50px;
    .logo {
        width: calc(100% - 20px);
        text-align: center;
        padding: 20px 0;
        position: absolute;
        top: -70px;
        left: 0;
        img {
            margin: 0 auto;
            @include respond-max-width(sm) {
                width: 120px;
            }
        }
    }
}

.panel-heading {
    border-color: $grey-2;
}

.panel-forum {
    .panel-heading {
        background-color: $grey-1;
        border-bottom: 4px solid $grey-2;
    }
}

.well {
    border-color: $grey-2;
    background-color: $grey-1;
}

.breadcrumb-line {
    background-color: $grey-1;
    li {
        a {
            color: #fff;
        }
        &:first-child {
            a {
                background-color: $grey-1;
                border-right: 1px solid rgba(255, 255, 255, .1);
                margin-right: 5px;
            }
        }
    }
}

.dropdown-menu {
    background-color: $grey-1;
    border-color: $grey-2;
}

.user-login-drop {
    > li {
        &:first-child {
            background-color: $grey-2;
        }
    }
    .navbar-footer {
        background-color: $grey-2;
    }
}

.panel {
    background-color: $grey-1;
}

.panel-login {
    background-color: $grey-1;
    .signin-text {
        span,
        &:before {
            background: $grey-2;
        }
    }
}

.nav-tabs {
    background-color: $grey-2;
    > li {
        &.active {
            > a:hover,
            > a {
                background-color: $grey-1 !important;
                color: #fff;
            }
        }
    }
}

.section-page {
    background-color: $grey-1;
}

.blog-meta {
    color: #000;
    background-color: $brand-primary;
}

.form-actions {
    background-color: $grey-1;
    border-color: $grey-2;
}

i.forum-read {
    &:before {
        display: none;
    }
    &:after {
        @extend .fa;
        content: '\f1d1';
        font-size: 50px;
        color: $grey-1;
    }
}

.forum-unread {
    &:before {
        display: none;
    }
    &:after {
        @extend .fa;
        content: '\f1d1';
        font-size: 50px;
        color: $brand-secondary;
    }
}

.panel-footer {
    background-color: $grey-1;
    border-color: $grey-2;
}

.side-segment {
    h3 {
        border-color: $grey-2 !important;
    }
}

.post-signature {
    color: $grey-3;
}

.postbody {
    .content {
        font-size: 1.2em;
        color: #fff;
    }
}

.mobile-post,
.footable-toggle {
    background: $grey-2 !important;
}

.control-label,
.help-block {
    color: #fff;
}