body {
    background-color: #1b1b1b;
}

.logo {
    text-align: center;
    padding: 20px 0;
    img {
        margin: 0 auto;
    }
}

.panel-forum {
    .panel-heading {
        background-color: #000;
    }
}


